*.log
.DS_Store
.env
.env.*
!.env.example
!.env.encrypted
!.env.*.encrypted
.phpactor.json
.phpunit.result.cache
/.codex/*
!/.codex/config.toml
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/backups
/storage/*.key
/storage/pail
/vendor
*.sql
*.sql.gz
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
